__pycache__
*.so
*.o
*.zip

__pycache__



classification/results
classification/data

part_segmentation/results
part_segmentation/data

occupancy_network/data/
occupancy_network/data_rotations/
occupancy_network/results/
occupancy_network/build/


